doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')

  body
    .row
      #nav
        nav.navbar.navbar-default(role='navigation')
          //
             Brand and toggle get grouped for better mobile display 
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Home
            a.navbar-brand(href='#') About Us
            a.navbar-brand(href='#') Services
            a.navbar-brand(href='#') Contact Us
          //
             Collect the nav links, forms, and other content for toggling 
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            
             
            button.btn.btn-default.pull-right(type='submit') Submit
            form.navbar-form.navbar-right(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')
             
            
          //
             /.navbar-collapse 
    

  
      

    block content
